@charset "utf-8";
.main{ width:100%; height: 100%;}
.header{/*header_03_bg_p.jpg*/
    height: 34px;
    background: url('../../image/base/common/depth01_03_nav_on_bg.gif') repeat-x;
    overflow: hidden;
}
.header_logo{
    width: 280px;
    height: 40px;
    overflow: hidden;
    background: url('../../image/base/common/logo_bg_p.jpg');
    cursor: pointer;
}
.header_logo img{position:relative; top:7px;left:15px;}
.header_content{
   width:650px;
}
.header_content ul{ position: relative; top:2px;margin-right:10px;}
.header_content li{
    display:inline-block;
    padding-right: 0px;
    color: #fff;
    height:40px;
}
.header_content li.fir_name {
    font-family: simsun;
    font-size: 12px;
    font-weight: bold;
    padding-top: 3px;
}
.logout img{position:relative; top:7px;}
.admin-link img{position:relative; top:6px;}
/**********内容 左面菜单 **************/
.nav_left{
    width:150px;
    border:1px solid #e2e2e2;
    padding:0 0 20px 0;
}
.nav_title_1{
    height:26px;
    line-height: 26px;
   text-align: center;
    font-weight: bold;
    position: relative;
    background: #dadada;
    cursor: pointer;

    letter-spacing: 2px;
    font-size: 14px;
}
.nav_title_2{
    height:26px;
    line-height: 26px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    padding-left:10px;
    margin-bottom:5px;
    letter-spacing: 2px;
    font-size: 14px;
    color: #3b3b3b;
    background: url(../../image/base/contents/nav_h3_grey.jpg) repeat-x;
}
.arrow_up{
    position: absolute;
    top:6px;
    right:7px;
    width:14px;
    height:14px;
    background:url(../../image/base/contents/ico_row_ins.gif) no-repeat top right;
}
.arrow_down{
    background:url(../../image/base/contents/ico_row_del.gif) no-repeat top right;
}
.nav_left li{
    padding:0 0 5px 0;
}
.nav_left ul li{
    margin-left: 20px;
    padding:3px;
}
li a{
    color:#2a2a2a;
}
 li a:hover{
    font-weight: bold;
}
/********** 内容层右面frame *************/
.frame_right{

}