<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>消息模板配置</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link type="text/css" rel="stylesheet" href="/messagecenter/resources/css/base/default.css"></link>
	<link type="text/css" rel="stylesheet" href="/messagecenter/resources/css/base/iValueNew.css"></link>
	<link href="/messagecenter/resources/css/redmond/jquery-ui-1.10.3.custom.min.css" rel="stylesheet"></link>
	
    <script type="text/javascript" src="/messagecenter/resources/js/common.js"></script>
	<script type="text/javascript" src="/messagecenter/resources/js/jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/messagecenter/resources/js/winlet/winlet_local.js"></script>
	<script type="text/javascript" src="/messagecenter/resources/js/jquery/jquery-ui-1.10.3.custom.min.js"></script>
</head>
<body>
	<div class="table_wrap">
		<div class="section">
			<h3>消息模板配置</h3>
			<div id="winlet:messagecenter/template/templateAllot/searchWin"></div>
			<div id="winlet:messagecenter/template/templateAllot/listWin"></div>
			
		</div>
	</div>
</body>
</html>